.navbar {
	margin-left: auto;
	margin-right: auto;
	min-height: 50px;
	width: 50%;
	min-width: 527px;
}

.navbar-left {
	float: left;
}

.navbar-right {
	float: right;
}

.navbar-sub {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
}
.navbar-sub > li {
	float: left;
	padding: 13px;
	transition: 0.25s;
}

.active {
	background-color: #EEEEEE;
}

.navbar-sub > li:hover{
	background-color: #EEEEEE;
}

.page-header.small {
	padding: 1rem;
}

.small > .container > .project-name {
	text-align: left;
}

.container {
	margin: auto;
	width: 50%;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

.site-footer {
	clear: both;
}

.main-content {
	padding: 2rem;
}